.selection-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.mat-mdc-list-item {
    border-bottom: 1px solid #eee;
    &:hover {
        cursor: pointer;
    }
}
